@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
    background-color: white;
    padding: 20px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
h1, h2, p, ul, li {
    font-family: 'Raleway', sans-serif;
}

header,
.nav,
.content,
footer{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

header {
    background-color: #005b9c;
    padding: 20px;
    color: white;
}

ul.nav li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.nav {
    background-color: #000;
    margin-top: 0;
}

ul.nav li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding: 20px;
    height: auto;
    margin-top: -16px;
}

.active {
    background-color: #005b9c;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

footer {
    background-color: #005b9c;
    padding: 20px;
}

