@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    overflow-y: scroll;
}

body {
    background-color: rgba(0, 91, 156, 0.2);
    padding: 20px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.main-container {
    margin-top: -40px;
}

header,
.navigation,
.content,
footer{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

header {
    background-color: #005b9c;
    padding: 20px;
    color: white;
}

ul.navigation li {
    display: inline;
    list-style-type: none;
    margin-left: -40px;
    margin-right: 50px;
}

ul.navigation {
    background-color: #222;
    margin-top: 0;
    text-transform: uppercase;
}

ul.navigation li a {
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.active {
    background-color: #005b9c;
}

.content {
    background-color: white;
    padding: 20px;
    height: 100%;
    margin-top: -16px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 5px;
    list-style: square;
}

.content ul {

}

.mainpic {
    max-width: 100%;
}

footer {
    background-color: #005b9c;
    padding: 20px;
    color: white;
}


/* Responsive */

@media screen and (max-width: 550px) {
    ul.navigation li a {
        color: white;
        font-weight: 400;
        text-decoration: none;
        padding: 8px;
        display: inline-block;
        font-size: 12px;
    }
    select,
    textarea,
    input {
        font-size: 16px;
    }
}


